.shop_container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: left;
}
.product_container{
    border-right: 1px solid lightgrey;
    height: 100%;
    margin-right: 10px;
    margin-left: 12rem;
}